{% if page.layout == 'home' %}
<nav class="toc-nav">
    <div class="toc-title">{% include i18n.html key="sections.contents" %}</div>
    <ul class="toc-list">
        <li><a href="#about-me" class="toc-link">{% include i18n.html key="sections.about_me" %}</a></li>
        <li><a href="#skills" class="toc-link">{% include i18n.html key="sections.skills" %}</a></li>
        <li><a href="#projects" class="toc-link">{% include i18n.html key="sections.projects" %}</a></li>
    </ul>
</nav>
{% endif %}

{% if page.layout == 'projects' %}
<nav class="toc-nav">
    <div class="toc-title">{% include i18n.html key="sections.contents" %}</div>
    <ul class="toc-list" id="projects-toc-list"> </ul>
</nav>
{% endif %}
